<template name="sidemenu">
        <div class="bs-callout bs-callout-default">
                <h4><a href="/">Dados de Respondente</a></h4>
                Preencher dados
        </div>
        <div class=" bs-callout bs-callout-default">
                <h4><a href="/instructions">Termo de Consentimento</a></h4>
                E enquadramento do formulário
        </div>
        <div class="bs-callout bs-callout-default">
                <h4><a href="/consult">Agregado Familiar</a></h4>
                Registo de agregado familiar
        </div>
        <div class="bs-callout bs-callout-default">
                <h4><a href="/report">Lista de Registos</a></h4>
                Verificar ou editar registos
        </div>
</template>