<template name="sidemenu">
        <div class="bs-callout bs-callout-default">
                <h4><a href="/habita">Dados de Respondente</a></h4>
                Preencher dados
        </div>
        <div class="bs-callout bs-callout-default">
                <h4><a href="/habita/instructions">Termo de Consentimento</a></h4>
                E instruções
        </div>
        <div class="bs-callout bs-callout-default">
                <h4><a href="/habita/consult">Agregado Familiar</a></h4>
                Registo de agregado familiar
        </div>
        <div class="bs-callout bs-callout-default">
                <h4><a href="/habita/report">Lista de Registos</a></h4>
                Verificar ou editar registos
        </div>
</template>