<template name="aflist">
    <h2>Verificar ou Editar Registos</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">Código do Registo</th>
                <th class="text-center">Elemento Principal</th>
                <th class="text-center">Lugar</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each consults}}
            <tr>
                <td>{{ _id }}</td>
                <!-- {{#each element }}
                <td>{{ name }}</td>
                {{/each}} -->
                <td>{{ element.[0].name }}</td>
                <td>{{ site }}</td>
                <td class="text-center">
                    <a href="formupdate/{{_id}}" >
                        <i class="fa fa-edit"></i> Editar
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>
