<template name="profile">
    <h2>Dados do Respondente</h2>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nome Completo"
                value="{{userProfile.name}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="institution"
                placeholder="Instituição que o Respondente Representa" value="{{userProfile.institution}}">
        </div>

        <div class="form-group">
            <label for="">Sede da Instituição Representada</label>
            <select class="form-control" name="headquarters">
                <option selected>{{userProfile.headquarters}}</option>
                {{#each state in statesBeira}}
                <option value="{{state}}">{{state}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="profession" placeholder="Profissão"
                value="{{userProfile.profession}}">
        </div>

        <div class="form-group float-label-control">
            <label for="">Lugares de Intervenção da Instituição. (Selecione todos os lugares aplicáveis)</label>
            <small id="sitesDefined" class="form-text text-muted">Lugares: {{userProfile.sites}}</small>
            <br>
            <select id="sites" name="sites" class="form-control" multiple>
                {{#each state in statesBeira}}
                {{#if userHasStateSelected state }}
                <option selected="selected" value="{{state}}">{{state}}</option>
                {{else}}
                <option value="{{state}}">{{state}}</option>
                {{/if}}
                {{/each}}
            </select>
        </div>
    </form>
    <br>

    {{> instructions_old}}
</template>

<template name="instructions_old">
    <h3>Instruções</h3>
    <p>
        Quando clicar no botão “submeter” (disponível no final da página de Registo),
        os dados serão guardados no nosso servidor e os campos do formulário
        serão limpos, podendo adicionar os dados de um novo agregado familiar.
        Deve repetir este processo para cada um dos agregados familiares
        que pretenda identificar.</p>

    <p>
        A alteração de dados de um agregado familiar já guardado deverá ser
        realizada recorrendo ao menu lateral “Lista de Registos”.
    </p>

    <p>Nota importante: no menu “Lista de Registos”, a identificação de
        cada registo de agregado familiar é realizada a partir do “nome”
        do primeiro elemento do agregado familiar tal como inserido na questão
        2.3; desta forma, sublinha-se a importância de preencher esta
        questão com a informação mais precisa possível.
    </p>

</template>