<template name="instructions">
  <h2>Instruções de Preenchimento</h2>
  <p><b>Enquadramento do formulário e dos dados a recolher</b><br>
    Os dados que nos fornece ao preencher o presente formulário, são
    devidamente tratados como confidenciais pela equipa técnica da Universidade de Aveiro. Os dados serão exclusivamente
    usados
    para mapear e atualizar o diagnóstico de carências habitacionais do município, que devem constar da Estratégia Local
    de Habitação (ELH). Os dados serão sempre integrados de forma a garantir o anonimato. A base legal para o tratamento
    dos dados é o Regime Geral
    de Proteção de Dados (RGPD). Qualquer participação sua neste inquérito será puramente voluntária e as informações
    que dele constem não serão remetidas para quaisquer outras plataformas e respeitam o disposto no RGPD. Nos campos de
    texto livre evite indicar
    nomes ou dados afins que possam remeter para si ou para outras pessoas. A recolha dos dados ao depende do
    consentimento prévio do respondente, nos termos exigidos pelo RGPD. Poderá solicitar em qualquer altura a eliminação
    dos dados disponibilizados, produzindo
    este pedido efeitos futuros.O exercício dos direitos a retirar o consentimento ao processamento dos dados pessoais
    ou à retificação dos mesmos, bem como o esclarecimento de dúvidas e dificuldades de preenchimento deverão ser
    endereçadas aos responsáveis pelo
    questionário.
  </p>
  <p>
    <b>Preenchimento do campo "Nome" do Agregado Familiar</b><br>
    De acordo com o disposto pelo Regulamento Geral de Proteção de Dados, deve ser usado um código, de forma a que os
    dados pessoais não sejam colocados em causa. Sugerimos que este código seja composto pelas duas letras iniciais do
    primeiro e último nome de cada elemento do agregado familiar (e.g. André Silva ficaria AnSi).
  </p>
  <p><b>Notas técnicas</b><br>
    Os dados completos serão recolhidos e armazenados na plataforma informática criada para a
    recolha carências habitacionais do município, sendo analisados somente pela equipa técnica da UA. O
    pré-processamento dos dados contempla:
  <ol>

    <li>Utilização dos dados recolhidos para verificação da duplicação de entradas, resultante do preenchimento de
      diferentes entidades, e</li>
    <li>
      Um procedimento de anonimização dos dados recolhidos, tornando-os passíveis de serem
      disponibilizados no documento técnico
      da ELH, ao abrigo da legislação de proteção de dados em vigor.
    </li>

  </ol>
  O procedimento de anonimização dos dados resultará na
  do tratamento de dados de maior sensibilidade. Embora não sejam requeridos dados pessoais, considera-se que os dados
  referentes à caracterização
  do agregado familiar, essenciais ao fim a que se destina este questionário, constituem elementos sensíveis a serem
  objeto de um pré-processamento mais cuidado.Os dados recolhidos serão armazenados até à finalização do processo de
  elaboração da ELH, aprovação
  pelo IHRU, e concretização de todas as etapas para a sua implementação, de acordo com a legislação em vigor para o
  Programa 1º Direito.
  </p>

  <p>
    <b>Consentimento informado</b><br>


  <div class="form-check">
    {{#if verifyPreviousConsent}}
    <input type="checkbox" class="form-check-input" id="consentimento" checked>
    {{else}}
    <input type="checkbox" class="form-check-input" id="consentimento">
    {{/if}}
    <label class="form-check-label" for="exampleCheck1">Face aos fins e procedimentos de recolha, armazenamento e
      divulgação dos
      dados, descritos anteriormente,
      concedo autorização para o processamento dos dados, a fornecer voluntariamente, do formulário
      disponibilizado.</label>
  </div>
  </p>
</template>