<template name="instructions">

  <h2>Instruções de Preenchimento</h2>
  <p><b>Enquadramento do formulário e dos dados a recolher</b><br>
    Os dados submetidos nesta plataforma enquadram-se nos trabalhos contratados à Universidade de Aveiro (UA) para
    elaboração da Estratégia Local de Habitação do município de Vila Nova de Paiva (ELH-VNP). A recolha de dados deste
    inquérito tem como objetivo a identificação e descrição detalhada de famílias em situação de carência habitacional
    no município. Os dados recolhidos permitirão à equipa da UA produzir documentos técnicos e científicos, com
    informação sumarizada dos elementos fornecidos.

    Em linha com o Regulamento Geral de Proteção de Dados (RGPD) informamos que se assegura aos participantes neste
    processo, a segurança, o anonimato e a confidencialidade sobre os dados fornecidos, estando a recolha dos dados
    condicionada ao consentimento prévio do respondente, nos termos exigidos pelo RGPD.

    Qualquer participação sua neste inquérito será puramente voluntária e as informações que dele constem não serão
    remetidas para quaisquer outras plataformas ou entidades.

  </p>

  <p>Quando clicar no botão “submeter”, os dados serão guardados no nosso
    servidor e os campos do formulário serão limpos, podendo adicionar os dados de um novo agregado familiar. Deve
    repetir este processo para cada um dos agregados familiares que pretenda identificar.

    A alteração de dados de um agregado familiar já guardado deverá ser realizada recorrendo ao menu lateral “Lista de
    Registos”.

    Nota importante: no menu “Lista de Registos”, a identificação de cada registo de agregado familiar é realizada a
    partir do “nome” do primeiro elemento do agregado familiar tal como inserido na questão 3 da caracterização do
    agregado familiar; desta forma, sublinha-se a importância de preencher esta questão com a informação mais precisa
    possível.</p>

  <p><b>Notas técnicas</b><br>
    Os dados serão recolhidos e armazenados em plataforma informática da UA, sendo acedidos apenas pelos membros da
    equipa
    de trabalho da UA alocados à tarefa de elaboração da ELH-VNP. O pré-processamento dos dados contempla:

  <ol>
    <li>Utilização dos dados recolhidos para assegurar a coerência dos dados inseridos por diferentes entidades; e</li>
    <li>Um procedimento de anonimização dos dados recolhidos, tornando-os passíveis de serem disponibilizados no
      documento
      técnico da ELH-VNP, ao abrigo da legislação de proteção de dados em vigor. O acesso aos dados far-se-á
      exclusivamente
      para
      os fins descritos acima e a inclusão de dados em trabalhos e documentos públicos será realizada através de dados
      sumários, garantindo o anonimato.</li>
  </ol>

  Os dados recolhidos (não processados) serão armazenados pelo período de contratualização da ELH-VNP a que acrescerá
  um
  período extra, com a duração até 1 ano, permitindo a sua utilização em contextos de investigação científica.
  Prevê-se
  que possam ser armazenados até ao final do ano de 2022.

  Apela-se ao respondente que evite, sempre que possível, indicar informação que considere sensível.

  </p>

  <p>
    <b>Consentimento informado</b><br>


  <div class="form-check">
    <p>A recolha dos dados depende do consentimento prévio do respondente, nos termos exigidos pelo RGPD. Poderá
      solicitar em qualquer altura a eliminação dos dados disponibilizados, produzindo este pedido efeitos futuros. O
      exercício dos direitos a retirar o consentimento ao processamento dos dados pessoais ou à retificação dos mesmos,
      bem como o esclarecimento de dúvidas e dificuldades de preenchimento deverão ser endereçadas aos responsáveis pelo
      questionário: Paulo Batista, pauloricardolb@ua.pt, ou dcspt-getin@ua.pt.</p>

    {{#if verifyPreviousConsent}}
    <input type="checkbox" class="form-check-input" id="consentimento" checked>
    {{else}}
    <input type="checkbox" class="form-check-input" id="consentimento">
    {{/if}}
    <label class="form-check-label" for="exampleCheck1">Face aos fins e procedimentos de recolha, armazenamento e
      divulgação dos dados, descritos anteriormente, concedo autorização para o processamento dos dados, a fornecer
      voluntariamente, do formulário disponibilizado.

    </label>
  </div>
  </p>
</template>