<template name="consults">
    <!-- {{> quickForm collection=formCollection id="consultsForm" type="insert"}} -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Caracterização do Agregado</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Caraterização da Habitação</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Primeiro Direito</a>
        </div>
    </nav>
    {{#autoForm collection=formCollection id="consultsForm" type="insert"}}
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <!-- <h4>Caraterização do Agregado Familiar</h4> -->
            <br><br>
            {{> afQuickField name='generalPerception'}}
            {{> afQuickField name='site' options=sitesOptions}}
            {{> afQuickField name='size'}}
            {{> afQuickField name='element'}}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!-- <h4>Caraterização geral da Habitação de residência permanente do Agregado Familiar</h4> -->
            <br><br>
            {{> afQuickField name='residencetypeOf'}}
            {{> afQuickField name='residenceOcupationType'}}
            {{> afQuickField name='residenceUrbanSpace' }}
            {{> afQuickField name='residenceConstructionType'}}
            {{> afQuickField name='residenceProblems' }}
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- <h4>Questões relativas ao primeiro direito</h4> -->
            <br><br>
            {{> afQuickField name='firstPrecary'}}
            {{> afQuickField name='firstUnsafe'}}
            {{> afQuickField name='firstLotation'}}
            {{> afQuickField name='firstInadequate'}}
            {{> afQuickField name='firstDescription'}}
            {{> afQuickField name='firstMoreVulnerabilities'}}
            {{> afQuickField name='firstDetails'}}
            {{> afQuickField name='firstSalary'}}
            {{> afQuickField name='firstSalaryMain'}}
            {{> afQuickField name='firstSocialSuport'}}
            {{> afQuickField name='firstPrecary'}}

        </div>
    </div>
    {{/autoForm}}
</template>