<template name="consults">
    <!-- {{> quickForm collection=formCollection id="consultsForm" type="insert"}} -->

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Caracterização do Agregado</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Caraterização da Habitação</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Primeiro Direito</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-submit" role="tab"
                aria-controls="nav-contact" aria-selected="false">Submeter</a>
        </div>
    </nav>

    {{#if verifyConsent}}
    {{#autoForm collection=formCollection id="consultsForm" type="insert"}}
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <!-- <h4>Caraterização do Agregado Familiar</h4> -->
            <br><br>
            {{> afQuickField name='submitedBy' type="hidden"}}
            {{> afQuickField name='generalPerception'}}
            {{> afQuickField name='site' options=sitesOptions}}
            {{> afQuickField name='size'}}
            <button type="button" class="btn btn-info btn-lg btn-block" id="elementInstructions">Instruções de
                preenchimento para o nome</button>
            {{> afQuickField name='element'}}


        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!-- <h4>Caraterização geral da Habitação de residência permanente do Agregado Familiar</h4> -->
            <br><br>
            {{> afQuickField name='residencetypeOf'}}
            {{> afQuickField name='residenceOcupationType'}}
            {{> afQuickField name='residenceUrbanSpace' }}
            {{> afQuickField name='residenceConstructionType'}}
            {{> afQuickField name='residenceProblems' }}
            {{> afQuickField name='residenceObs' }}
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- <h4>Questões relativas ao primeiro direito</h4> -->
            <br><br>
            {{> afQuickField name='mainPrecary'}}
            {{> afQuickField name='firstPrecary'}}
            {{> afQuickField name='firstUnsafe'}}
            {{> afQuickField name='firstLotation'}}
            {{> afQuickField name='firstInadequate'}}
            {{> afQuickField name='firstDescription'}}
            {{> afQuickField name='firstMoreVulnerabilities'}}
            {{> afQuickField name='firstDetails' rows=4}}
            {{> afQuickField name='firstSalary'}}
            {{> afQuickField name='firstSalaryMain'}}
            {{> afQuickField name='firstSocialSuport'}}
            {{> afQuickField name='firstObs' }}

        </div>
        <div class="tab-pane fade" id="nav-submit" role="tabpanel" aria-labelledby="nav-submit">
            <br><br>
            <h4>Prima o botão para submeter o formulário.</h4>
            <p>Caso o formulário não seja submetido, devem existir pendências no preenchimento
                de campos obrigatórios. Revise as outras abas para verificar os campos obrigatórios.
            </p>

            <p>É possível aceder e editar o preenchimento no menu <b>Lista de Registos</b></p>

            <button type="submit" class="btn btn-primary">Submeter</button>



        </div>
    </div>
    {{/autoForm}}
    {{else}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sem consentimento.</h1>
            <hr class="my-4">
            <p class="lead">É necessário tomar conhecimento das notas técnicas e
                aprovar o termo de consentimento na página Instruções antes de preencher o formulário de
                agregado familiar.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/habita/instructions" role="button">Instruções</a>
            </p>
        </div>
    </div>
    {{/if}}
</template>